/* ==================================================================================================================================================================================================================================================================================================
GENERAL BODY 
==================================================================================================================================================================================================================================================================================================*/
/*body{
    background: #debc4c;
}*/
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: local('Montserrat', sans-serif), url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
    format('woff');
}
body{
    font-family: 'Montserrat', sans-serif;
}
.calcCont{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    background: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*background: #D0F4DE;*/
    .calcInner{
        /*background: #333F4B;*/
        /*background: linear-gradient(0deg, hsla(330, 77%, 49%, 1) 0%, hsla(197, 85%, 51%, 1) 100%);*/
        background: #E4C1F9;
        color: #fff;
        border: 5px solid #ffF;
        border-radius: 10px;
        padding: 10px;
        @media(max-width: 767px){
            max-width: 350px;
        }
        .numPad{
            .screenCont{
                display: flex;
                justify-content: space-around;
                .calcScreen{
                    display: flex;
                    background: #8bd3f7;
                    color: #fff;
                    border-radius: 15px;
                    padding: 10px;
                    justify-content: center;
                    border: 3px solid #fff;
                    width: 100%;
                    align-items: center;
                    margin: 10px;
                    width: 300px;
                    font-weight: 800;
                }
                .calcHist{
                    margin: 10px;
                    background: #fef49d;
                    border: 3px solid #fff;
                    border-radius: 15px;
                    padding: 10px;
                    color: rgb(121, 121, 121);
                    overflow-y: auto;
                    height: 150px;
                }
            }
        }
    }
}
.keyCenter{
    border: 3px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}
/* ==================================================================================================================================================================================================================================================================================================
NUMPAD
==================================================================================================================================================================================================================================================================================================*/
.numPad{
    .numGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
            .blu{
                background: hsl(200, 87%, 76%);
            }
            .pinku{
                background: #FF99C8;
            }
            .numBack{
                border: 3px solid #fff;
            }
            .greeny{
                background: #bbf7d2;
                color: rgb(121, 121, 121);
            }
            .numC { grid-area: 1 / 1 / 2 / 2; }
            .numDivide { grid-area: 1 / 2 / 2 / 3; }
            .numTimes { grid-area: 1 / 3 / 2 / 4; }
        .numBack { grid-area: 1 / 4 / 2 / 5; }
        .num7 { grid-area: 2 / 1 / 3 / 2; }
        .num8 { grid-area: 2 / 2 / 3 / 3; }
        .num9 { grid-area: 2 / 3 / 3 / 4; }
        .numMinus { grid-area: 2 / 4 / 3 / 5; }
        .num4 { grid-area: 3 / 1 / 4 / 2; }
        .num5 { grid-area: 3 / 2 / 4 / 3; }
        .num6 { grid-area: 3 / 3 / 4 / 4; }
        .numPlus { grid-area: 3 / 4 / 4 / 5; }
        .num1 { grid-area: 4 / 1 / 5 / 2; }
        .num2 { grid-area: 4 / 2 / 5 / 3; }
        .num3 { grid-area: 4 / 3 / 5 / 4; }
        .div16 { grid-area: 4 / 4 / 5 / 5; }
        .equals { grid-area: 4 / 4 / 6 / 5; }
        .plusMinus { grid-area: 5 / 1 / 6 / 2; }
        .num0 { grid-area: 5 / 2 / 6 / 3; }
        .point { grid-area: 5 / 3 / 6 / 4; }
        }
}