/* ==================================================================================================================================================================================================================================================================================================
GENERAL BODY 
==================================================================================================================================================================================================================================================================================================*/
body{
    background: #debc4c;
}
.calcCont{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    .calcInner{
        background: #333F4B;
        color: #fff;
    }
}

/* ==================================================================================================================================================================================================================================================================================================
NUMPAD
==================================================================================================================================================================================================================================================================================================*/
.numPad{
    .numGrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
            .blu{
                background: #005fe4;
            }
            .numC { grid-area: 1 / 1 / 2 / 2; }
            .numDivide { grid-area: 1 / 2 / 2 / 3; }
            .numTimes { grid-area: 1 / 3 / 2 / 4; }
        .numBack { grid-area: 1 / 4 / 2 / 5; }
        .num7 { grid-area: 2 / 1 / 3 / 2; }
        .num8 { grid-area: 2 / 2 / 3 / 3; }
        .num9 { grid-area: 2 / 3 / 3 / 4; }
        .numMinus { grid-area: 2 / 4 / 3 / 5; }
        .num4 { grid-area: 3 / 1 / 4 / 2; }
        .num5 { grid-area: 3 / 2 / 4 / 3; }
        .num6 { grid-area: 3 / 3 / 4 / 4; }
        .numPlus { grid-area: 3 / 4 / 4 / 5; }
        .num1 { grid-area: 4 / 1 / 5 / 2; }
        .num2 { grid-area: 4 / 2 / 5 / 3; }
        .num3 { grid-area: 4 / 3 / 5 / 4; }
        .div16 { grid-area: 4 / 4 / 5 / 5; }
        .equals { grid-area: 4 / 4 / 6 / 5; }
        .plusMinus { grid-area: 5 / 1 / 6 / 2; }
        .num0 { grid-area: 5 / 2 / 6 / 3; }
        .point { grid-area: 5 / 3 / 6 / 4; }
        }
}